.header {
    background-color: #181818;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    padding: .625rem 0px;
    display: grid;
    place-content: center;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.campeonato-titulo {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    color: #FEFEFF;
    text-align: center;
}

.partidas-section,
.disputa {
    display: grid;
    place-content: center;
    margin: 0rem 1.5625rem;
    
    grid-template-columns: 1fr;
}

.disputa-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .75rem;
    margin-top: 1.875rem;
}

.disputa-label,
.responsavel-label {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;
}

.disputa-label {
    color: #222222;
}

.responsavel-label {
    text-align: right;
    color: #6D6D6D;
}

.disputa-list {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
}

.disputa-item {
    background-color: #3F0055;
    padding: .4375rem .625rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disputa-item:nth-child(2n) {
    background-color: #04156E;
}

.time-disputa {
    font-size: 1rem;
    font-weight: 400;
}

.responsavel {
    font-weight: 300;
}

.time-disputa,
.responsavel {
    line-height: 1;
    color: #FEFEFF;
}

.partidas-titulo {
    text-align: center;
    margin-top: 2.9375rem;
    margin-bottom: .9375rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 500;
}

.partidas-list {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
}

.partida-item {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.left {
    display: grid;
    grid-template-columns: 1fr auto;
}

.right {
    display: grid;
    place-content: end;
    grid-template-columns: auto 1fr;
}

.left .item-content {
    border-radius: 5px 0px 0px 5px;
    display: grid;
    justify-content: start;
    align-items: center;
}

.right .item-content {
    border-radius: 0px 5px 5px 0px;
    display: grid;
    justify-content: end;
    align-items: center;
}

.item-content {
    background-color: #2D2D2D;
    padding: .75rem .625rem;
}

.partida-item:nth-child(2n) .item-content {
    background-color: #1F1F1F;
}

.item-time {
    font-size: 1rem;
    line-height: 1;
    color: #FEFEFF;
    font-weight: 400;
}

.item-number-container {
    display: grid;
    place-content: center;
    padding: .8125rem .9375rem;
    background-color: #181818;
}

.item-number {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    width: 1rem;
    display: flex;
    justify-content: center;
    color: #FEFEFF;
}

.item-number.win {
    color: #54C74B;
}

.item-number.loose  {
    color: #FF4848;
}

.draw .item-number-container .item-number {
    color: #FFF845;
}

.divisor {
    width: .0625rem;
    background-color: #313131;
    height: 100%;
}

.logo-container {
    position: absolute;
    bottom: 5px;
    right: 0;
    opacity: 70%;
}